site_name: VKBottle
site_description: Awesome VK framework
site_author: timoniq
repo_name: vkbottle/vkbottle
repo_url: https://github.com/vkbottle/vkbottle
edit_uri: edit/master/docs/

extra:
  disqus: ""
  social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/vkbottle_ru
      name: our Telegram chat
    - icon: fontawesome/brands/vk
      link: https://vk.me/join/AJQ1d7fBUBM_800lhEe_AwJj
      name: our VK chat

nav:
  - Хаб: index.md
  - Туториал:
      - Содержание туториала: tutorial/index.md
      - Первый бот: tutorial/first-bot.md
      - Правила: tutorial/rules.md
      - Разделение кода: tutorial/code-separation.md
      - Клавиатуры и вложения: tutorial/keyboards-attachments.md
      - Мидлвари и return менеджеры: tutorial/middlewares-return-managers.md
      - Обработка ошибок: tutorial/error-handling.md
      - Callback API: tutorial/callback-bot.md
      - Рекомендуемые IDE: tutorial/recommended-ide.md
      - FAQ: tutorial/faq.md
  - Документация:
      - Интерфейсы высокого уровня:
          - Интерфейс ботов:
              - Bot: high-level/bot/bot.md
              - User: high-level/user/user.md
              - Labeler: high-level/bot/labeler.md
              - Multibot: high-level/bot/multibot.md
          - Хендлинг:
              - Handler: high-level/handling/handler.md
              - View: high-level/handling/view.md
              - Return Manager: high-level/handling/return-manager.md
              - State Dispenser: high-level/handling/state-dispenser.md
              - Middleware: high-level/handling/middleware.md
              - Rules: high-level/routing/rules.md
      - Интерфейсы низкого уровня:
          - API:
            - Работа с API: low-level/api/api.md
            - Response Validator: low-level/api/response-validator.md
            - Request Rescheduler: low-level/api/request-rescheduler.md
            - Request Validator: low-level/api/request-validator.md
            - Token Generator: low-level/api/token-generator.md
          - Exception Handling:
            - Error Handler: low-level/exception_handling/error-handler.md
            - Code Exception: low-level/exception_handling/code-exception.md
          - Http Client:
            - Accessing Http Client: low-level/http/http-client.md
          - Polling:
            - Работа с поллингом: low-level/polling/polling.md
          - Callback:
            - Работа с Callback API: low-level/callback/callback.md
      - Дополнительные инструменты:
          - Auth Flows: tools/auth.md
          - Event Data генераторы: tools/event-data.md
          - Keyboard: tools/keyboard.md
          - Loop Wrapper: tools/loop-wrapper.md
          - Message Event: tools/message-event.md
          - Storage: tools/storage.md
          - Template: tools/template.md
          - Uploaders: tools/uploaders.md
          - VKScript: tools/vkscript.md
      - Кастомизация зависимостей: modules.md
  - Почему vkbottle?: why-vkbottle.md
  - Что нового:
      - 4.0: whats_new/4.0.md
      - 4.1: whats_new/4.1.md
      - 4.2: whats_new/4.2.md
      - 4.3: whats_new/4.3.md

theme:
  name: material
  language: ru

  palette:
    - scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: fontawesome/solid/sun
        name: Светлый режим
    - scheme: default
      primary: black
      accent: blue
      toggle:
        icon: fontawesome/solid/moon
        name: Тёмный режим

  font:
    text: Roboto Mono
    code: Monaco

  logo: logo.svg
  favicon: logo.svg

markdown_extensions:
  - admonition
  - md_in_html
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.snippets:
      check_paths: true

extra_css:
  - _css/style.css
