[tool.poetry]
name = "vkbottle"
version = "3.0.2"
description = "Homogenic! Customizable asynchronous VK API framework implementing comfort and speed"
authors = ["timoniq"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/timoniq/vkbottle"
repository = "https://github.com/timoniq/vkbottle"
keywords = [
  "vk",
  "vk-api",
  "vkbottle",
  "user-longpoll",
  "async",
  "asyncio",
  "bot",
  "longpoll-api",
  "callback",
  "middleware",
]
classifiers = [
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
  "Typing :: Typed",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/timoniq/vkbottle/issues"

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.6.2"
vbml = "^1.0"
choicelib = "^0.1.1"
vkbottle-types = "^5.131"
watchgod = "^0.7"

[tool.poetry.dev-dependencies]
# Lint
lxml = "^4.5.0"
mypy = "^0.770"
isort = "^5.7"
flake8 = "^3.7.9"
mypy_extensions = "^0.4.3"
black = { version = "^21.4b0", allow-prereleases = true }

# Tests
pytest = "^6.2"
pytest-cov = "^2.8"
pytest-asyncio = "^0.15.0"
pytest-mock = "^3.3.1"

# Docs
mkdocs = "^1.1.2"
mkdocs-material = "^7.0.0"

# Pre-commit
pre-commit = "^2.12.0"

[tool.black]
line-length = 99
target-version = ['py37', 'py38']
force-exclude = '''
(
    \.eggs
  | \.git
  | \.tox
  | build
  | dist
  | venv
  | docs
)
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 99

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
