name: Publish Package to PyPI with poetry

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Build and publish to pypi
        uses: JRubics/poetry-publish@v1.2
        with:
          pypi_token: ${{ secrets.pypi_password }}