name: Pull-request

on:
  - pull_request

defaults:
  run:
    shell: bash

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Checkout code
        uses: asottile/workflows/.github/actions/fast-checkout@v1.10.0
        with:
          fetch-depth: 0

      - name: Install poetry and dependencies
        uses: ./.github/actions/install-dependencies
        with:
          os: ubuntu-latest
          python-version: "3.14"

      - name: Load pre-commit cache
        id: cached-pre-commit
        uses: actions/cache@v3
        with:
          key: pre-commit-${{ env.pythonLocation }}-${{ hashFiles('.pre-commit-config.yaml') }}
          path: ~/.cache/pre-commit

      - name: Run pre-commit
        run: |
          poetry run pre-commit run \
            --from-ref ${{ github.event.pull_request.base.sha }} \
            --to-ref   ${{ github.event.pull_request.head.sha }} \
            --show-diff-on-failure --color=always

      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()

  lint-and-test:
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.14"
        os:
          - ubuntu-latest
          - windows-latest

    uses: ./.github/workflows/lint-and-test.yml
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
